/* Dashboard.css */

.dashboard {
  padding: 2rem;
  /* background-color: var(--main-bg-color); */
  color: var(--main-text-color);
  animation: fadeIn 1s ease-in;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-text-color);
}

.dashboard-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-left, .dashboard-right {
  flex: 1;
  min-width: 300px;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.widget {
  background-color: var(--header-footer-bg-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--main-text-color);
}

.widget p {
  font-size: 1rem;
  color: var(--main-text-color);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
