/* variables.css */

:root {
  --main-bg-color: #121212;
  --main-text-color: #ffffff;
  --main-link-color: #1e90ff;
  --header-footer-bg-color: #1f1f1f;
  --navbar-bg-color: #1f1f1f;
  --navbar-logo-color: #ffffff;
  --navbar-link-color: #ffffff;
  --sidebar-bg-color: #1f1f1f;
  --sidebar-link-color: #ffffff;
  --footer-bg-color: #1f1f1f;
  --footer-link-color: #ffffff;
  --button-bg-color: #1e90ff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #187bcd;
}
