/* WalletPage.css */

/* WalletPage.css */
.wallet-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  background-color: var(--background-color);
}

.wallet-section {
  width: 100%;
  max-width: 800px;
  background-color: var(--section-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
