/* Sidebar.css */

.sidebar-container {
  position: relative;
  z-index: 1; /* Ensure it stays above the main content but below navigation and footer */
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 2;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: var(--main-text-color);
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: var(--hover-bg-color);
}

/* Sidebar toggle button */
.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--main-text-color);
  cursor: pointer;
  z-index: 3;
}

.sidebar-toggle:focus {
  outline: none;
}

/* Ensure the content adjusts when the sidebar is open */
.sidebar-open .dashboard-main {
  margin-left: 250px;
}
