/* Benefits.css */
.benefits {
  background-color: #eaeaea;
  padding: 2rem;
}

.benefits .split-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits .split-text {
  flex: 1;
  min-width: 300px;
}

.benefits .split-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.benefits .split-image img {
  max-width: 100%;
  height: auto;
}

.benefits .split-text ul {
  list-style: none;
  padding-left: 0;
}
