/* dark-mode.css */

body.dark {
  --main-bg-color: #121212;
  --main-text-color: #ffffff;
  --main-link-color: #1e90ff;
  --header-footer-bg-color: #1f1f1f;
  --navbar-bg-color: #1f1f1f;
  --navbar-link-color: #ffffff;
  --sidebar-bg-color: #1f1f1f;
  --sidebar-link-color: #ffffff;
  --footer-bg-color: #1f1f1f;
  --footer-link-color: #ffffff;
  --button-bg-color: #1e90ff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #187bcd;
}

body.light {
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --main-link-color: #1e90ff;
  --header-footer-bg-color: #f1f1f1;
  --navbar-bg-color: #f1f1f1;
  --navbar-link-color: #000000;
  --sidebar-bg-color: #f1f1f1;
  --sidebar-link-color: #000000;
  --footer-bg-color: #f1f1f1;
  --footer-link-color: #000000;
  --button-bg-color: #1e90ff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #187bcd;
}
