/* Navbar.css */

.navbar {
  background-color: var(--header-footer-bg-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

.navbar .auth-links {
  display: flex;
  gap: 1rem;
}
