/* Navbar.css
 *
 * Styles for the Navbar component.
 */

.navbar {
  background-color: var(--header-footer-bg-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links li a:hover {
  color: var(--link-hover-color);
}

.navbar-auth-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-auth-links a {
  color: var(--link-color);
  text-decoration: none;
}

.navbar-auth-links a:hover {
  color: var(--link-hover-color);
}
