/* Sidebar.css */

.sidebar {
  background-color: var(--sidebar-bg-color);
  height: 100%;
  padding: 1rem;
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  color: var(--main-text-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
