/* index.css */

:root {
  --main-bg-color: #121212;
  --main-text-color: #fff;
  --main-link-color: #61dafb;
  --header-footer-bg-color: #20232a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
}
