/* WalletOverview.css */

.wallet-overview {
  padding: 20px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.wallet-overview h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.wallet-overview .crypto-balances {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.wallet-overview .crypto-balances div {
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.wallet-overview p {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-text-color);
}
